{% extends "app/layout.html" %}

{% block content %}

<div class="container">
    <div class="record">
        <div class="container">
            <div class="row">
                <i class="fa fa-microphone" id="microphone"></i>
                <i class="fa fa-stop" id="stop"></i>
                <div id="waveform"></div>
                <canvas id="wavedisplay" width="0" height="0"></canvas>
            </div>
        </div>

    </div>



    <div id="graph"></div>
    <div id="emojis">
         <img class="emoji" id="angry" src="../../static/app/images/emojis/angry.svg" />
        <img class="emoji" id="sad" src="../../static/app/images/emojis/sad.svg" />
        <img class="emoji" id="neutral" src="../../static/app/images/emojis/sceptic.svg" />
        <img class="emoji" id="happy" src="../../static/app/images/emojis/smile.svg" /> 
     </div> <!-- For use later if you want both a graph and emojis -->



</div>


{% endblock %}

{% block scripts %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../../static/app/scripts/recording/recorderWorker.js"></script>
<script src="../../static/app/scripts/recording/recorder.js"></script>
<script src="../../static/app/scripts/recording/recording.js"></script>
<script src="../../static/app/scripts/microphone.js"></script>
<script src="../../static/app/scripts/graph.js"></script>
{% endblock %}
