<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Emotion Commotion</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.min.css' %}" />

<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars fa-2x"></i>
                </button>

                <a href="/" class="navbar-brand">
                    <img src="../../static/app/images/logo.svg" class="logo" />
                    <p> Emotion Commotion </p>
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#team">The Team</a></li>
                    <li><a href="#about-us">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="body-content">
        {% block content %}{% endblock %}
    </div>

    <footer id="footer">
        <p>&copy; Team "Emotion Commotion", All rights Reserved. {{ year }} </p>
    </footer>
    <script src="{% static 'app/scripts/vendor/modernizr-2.6.2.js' %}"></script>
</head>

    <script src="{% static 'app/scripts/vendor/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'app/scripts/vendor/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1.2/wavesurfer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1.2/plugin/wavesurfer.microphone.min.js"></script>
    <script src="https://use.fontawesome.com/bc46617bcd.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
