@import "library";

@header-font: #367ee9;
@header-border: #367ee9;


//#######################################################################
// HEADER
//
//  -NAVIGATION BAR
//#######################################################################

html,body {
  height: 100%;
}


.navbar-nav .active {
    font-weight: 800;
}

.nav > li > a {
    font-size: 16px;

    &:hover {
        font-weight: 800;
        background: transparent;
        .transition(0.35s);
        color: lighten(@header-font, 2%);
    }
}

.navbar {
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 3.5px solid @header-border;
    background: #fff;
}


.navbar-brand {
    background: @header-border;
    color: #fff;
    font-weight: 800;
    height: 70px;

    &:hover {
        color: #fff;
        background: darken(@header-border, 10%);
        .transition(0.35s);
    }

    img {
        height: 40px;
        width: auto;
        margin-right: 15px; 
    }

    p {
        padding-top: 10px;
        display: inline;
    }
}

.navbar-collapse {
    padding-top: 10px;
}

.body-content {
    padding: 130px 0 0 60px;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;

    .fa {
        font-size: 5em;
        margin-top: 10px;

        &:hover {
            font-size: 7em;
            background: @header-border;
            color: #fff;
            cursor: pointer;
            .transition(0.4s);
            .rotate(360deg);
            padding: 50px;
            border-radius: 95%;
            margin: 15px;
        }
    }

    .record {
        text-align: center;

        #waveform, #play, #pause, #stop {
            display: none;
        }
    }
}

#footer {
  height: 60px;
  background-color: #367ee9;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

