.delay-1 {
  -webkit-animation-delay: 0.1s !important;
  -moz-animation-delay: 0.1s !important;
  -ms-animation-delay: 0.1s !important;
  -o-animation-delay: 0.1s !important;
  animation-delay: 0.1s !important;
}
.delay-2 {
  -webkit-animation-delay: 0.2s !important;
  -moz-animation-delay: 0.2s !important;
  -ms-animation-delay: 0.2s !important;
  -o-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}
.delay-3 {
  -webkit-animation-delay: 0.3s !important;
  -moz-animation-delay: 0.3s !important;
  -ms-animation-delay: 0.3s !important;
  -o-animation-delay: 0.3s !important;
  animation-delay: 0.3s !important;
}
.delay-4 {
  -webkit-animation-delay: 0.4s !important;
  -moz-animation-delay: 0.4s !important;
  -ms-animation-delay: 0.4s !important;
  -o-animation-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}
.delay-5 {
  -webkit-animation-delay: 0.5s !important;
  -moz-animation-delay: 0.5s !important;
  -ms-animation-delay: 0.5s !important;
  -o-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important;
}
.delay-6 {
  -webkit-animation-delay: 0.6s !important;
  -moz-animation-delay: 0.6s !important;
  -ms-animation-delay: 0.6s !important;
  -o-animation-delay: 0.6s !important;
  animation-delay: 0.6s !important;
}
.delay-7 {
  -webkit-animation-delay: 0.7s !important;
  -moz-animation-delay: 0.7s !important;
  -ms-animation-delay: 0.7s !important;
  -o-animation-delay: 0.7s !important;
  animation-delay: 0.7s !important;
}
.delay-8 {
  -webkit-animation-delay: 0.8s !important;
  -moz-animation-delay: 0.8s !important;
  -ms-animation-delay: 0.8s !important;
  -o-animation-delay: 0.8s !important;
  animation-delay: 0.8s !important;
}
.delay-9 {
  -webkit-animation-delay: 0.9s !important;
  -moz-animation-delay: 0.9s !important;
  -ms-animation-delay: 0.9s !important;
  -o-animation-delay: 0.9s !important;
  animation-delay: 0.9s !important;
}
.delay-10 {
  -webkit-animation-delay: 1s !important;
  -moz-animation-delay: 1s !important;
  -ms-animation-delay: 1s !important;
  -o-animation-delay: 1s !important;
  animation-delay: 1s !important;
}
html,
body {
  height: 100%;
}
.navbar-nav .active {
  font-weight: 800;
}
.nav > li > a {
  font-size: 16px;
}
.nav > li > a:hover {
  font-weight: 800;
  background: transparent;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  color: #3f84ea;
}
.navbar {
  height: 70px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 3.5px solid #367ee9;
  background: #fff;
}
.navbar-brand {
  background: #367ee9;
  color: #fff;
  font-weight: 800;
  height: 70px;
}
.navbar-brand:hover {
  color: #fff;
  background: #1763d5;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
.navbar-brand img {
  height: 40px;
  width: auto;
  margin-right: 15px;
}
.navbar-brand p {
  padding-top: 10px;
  display: inline;
}
.navbar-collapse {
  padding-top: 10px;
}
.body-content {
  padding: 130px 0 0 60px;
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
}
.body-content .fa {
  font-size: 5em;
  margin: 20px;
}
.body-content .fa:hover {
  background: #367ee9;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  padding: 30px;
  border-radius: 95%;
  margin: 15px;
}
.body-content .record {
  text-align: center;
}
.body-content .record #waveform,
.body-content .record #play,
.body-content .record #pause,
.body-content .record #stop {
  display: none;
  margin-top: 20px;
}
#graph {
  display: none;
  height: 500px;
  margin-bottom: 100px;
}
#graph svg {
  margin: 30px auto !important;
  width: 100%;
  height: 100%;
}
.toggle.btn {
  display: none;
  float: right;
  min-width: 80px;
}
#emojis {
  display: none;
  margin: 100px 0;
  text-align: center;
}
#emojis .emoji {
  width: 100px;
  height: auto;
}
.label {
  font-family: 'Open Sans';
}
#footer {
  height: 60px;
  background-color: #367ee9;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
path.slice {
  stroke-width: 2px;
}
polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.labelValue {
  font-size: 60%;
  opacity: 0.5;
}
.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}
text {
  font: 12px sans-serif;
}